<title>Product Details</title>
<link rel="stylesheet" href="/public/stylesheets/sign.css">
<script src="https://cdn.tailwindcss.com">
</script>


<body class="bg-gray-100">
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-4xl">
      <div class="flex">
        <div class="w-1/2">
          <img src="<%= product.image %>" alt="<%= product.name %>" class="w-full h-full object-cover">
        </div>
        <div class="w-1/2 p-6">
          <h2 class="text-3xl font-bold text-gray-800 mb-4"><%= product.name %></h2>
          <p class="text-gray-600 text-lg mb-4">Business: <span class="font-semibold"><%= product.business_name %></span></p>
          <p class="text-gray-600 text-lg mb-4">Price: <span class="font-semibold">&#8377;<%= product.price.toFixed(2) %></span></p>
          <p class="text-gray-600 mb-4">Description: <%= product.description %></p>
          <p class="text-gray-600 mb-4">Rating: <span class="font-semibold"><%= product.rating %> / 5</span></p>
          <p class="text-gray-600 mb-4 text-lg">Posted by: <span class="font-semibold"><%= product.username %></span></p>
        </div>
      </div>
      <div class="p-6 text-left ml-12">
        <button style="background-color:#ff9d00;" class="hover:bg-blue-600 text-white font-bold py-2 px-7 rounded mt-4 transition-shadow-300 hover:shadow-lg">Add to Cart</button>
        <button class="bg-orange-500 text-white font-bold py-2 px-8 rounded mt-4 ml-4 transition-shadow-300 hover:shadow-lg">BUY NOW</button>
      </div>
    </div>
  </div>
</body>